 项目中所有的项目相关信息会维护在 /docs 目录中
 
 1. 在执行任务之前，先读取项目中的 docs 目录，检查是否有对应的文件记录，如果有，将本次的工作更新到对应的位置, 如果没有，在保证整体文档架构合理的前提下，创建新的文件
 2. 对于每一步任务的执行，需要执行的任务，先将它拆分出来，写入到对应文件中
 3. 然后，再根据 todo-list 中的任务，一步一步的执行，每执行一步，就将结果写入到一个 md 文件中
 4. 执行完毕后，根据执行内容，更新相关文档

 注意：在涉及到文档方面的操作时，务必注意文档之间的联系，保证每个文档都做一件事，避免文档之间描述的内容有交叉

 在执行任务的过程中，如果遇到任何问题，请先思考，再执行，如果无法解决，将关键信息记录到 todo-list 中
 并暂停，等待我进一步的指示

 技术实现相关：
 1. 当多次尝试使用某个工具库，但是出现错误时，考虑搜索工具库的最新资料，参考官网、或者网络上的最新资料。在解决错误后，将对应的错误记录到problem-solve文档中
 
 