 项目中所有的项目相关信息会维护在 /docs 目录中
 
 1. 对于每一步中，需要执行的任务，先将它拆分出来，写入到一个 md 文件中，形成一个 todo-list
 2. 然后，再根据 todo-list 中的任务，一步一步的执行，每执行一步，就将结果写入到一个 md 文件中
 3. 最后，将所有的 md 文件合并成一个完整的文档，形成一个完整的报告

 在执行任务的过程中，如果遇到任何问题，请先思考，再执行，如果无法解决，将关键信息记录到 todo-list 中
 并暂停，等待我进一步的指示
 
 